<button
  class="
    p-2 rounded-lg flex flex-col
    items-center justify-center
    w-full
    text-center"
  [disabled]="eb_disable"
  [ngStyle]="{
    backgroundColor: eb_disable ? '#d1d5db' : eb_bg_color,
    color: eb_disable ? '#9ca3af' : eb_text_color,
    cursor: eb_disable ? 'not-allowed' : 'pointer'
  }"
  (click)="navigateTo()"
>
    <span class="material-icons text-1xl">{{ eb_icon }}</span>
    <p class="text-sm font-semibold">{{ eb_title }}</p>
    <p class="text-xs">{{ eb_subtitle }}</p>
</button>
