<div class="p-4">
  
  <h1 class="text-xl font-bold my-6">
    DAFT:
    Saldo por Ejecutar
  </h1>

  <div class="grid grid-cols-2 gap-4 h-auto">
    <div id="chart1" class="border border-gray-500 rounded-md h-[250px]">panel 1</div>
    <div id="chart2" class="border border-gray-500 rounded-md h-[250px]">panel 2</div>
  </div>
  <div class="grid grid-cols-2 gap-4 h-auto">
    <div id="chart3" class="border border-gray-500 rounded-md h-[250px]">panel 3</div>
    <div id="chart4" class="border border-gray-500 rounded-md h-[250px]">panel 3</div>
  </div>

</div>
