<div class="p-4">      

  <h1 class="text-xl font-bold my-6">DPPI: Situacion Nutricional</h1>
      <!-- Selector de Año -->
      <div class="mb-4">
        <label for="year-select" class="block mb-2 font-medium">Selecciona un Año:</label>
        <select
        >
        <!-- id="year-select"
        class="border rounded-md px-3 py-2"
        (change)="onYearChange($event)" -->
          <option value="2023" selected>2023</option>
        </select>
      </div>
    
    
      <div class="grid grid-cols-1 gap-4 h-auto">
        <div id="chart1" class="border border-gray-500 rounded-md h-[350px]"></div>
        <!-- <div id="chart2" class="border border-gray-500 rounded-md h-[350px]"></div> -->
      </div>
    </div>
    