<!-- Header Section -->
<div class="flex justify-between items-center p-6 bg-rose-200 dev1">
  <!-- Title Section -->
  <div>
      <h1 class="text-2xl font-bold text-gray-800">Educación</h1>
      <p class="text-gray-600 text-sm">Gestión de Datos Estratégicos / Casa Central</p>
  </div>
</div>





<app-elem-note1
  [note]="'Las siguientes tarjetas se irán habilitando
  progresivamente a medida que se implemente
  el gobierno de datos de la dirección.
  Por ahora, solo están disponibles las tarjetas de NEE y ATET.'">
</app-elem-note1>

<app-elem-bar1 
  [title]="'Dashboard de Datos'" 
  [subtitle]="'Gestión de Datos Estratégicos / Casa Central'">
</app-elem-bar1>


<app-elem-button-grid [buttons]="buttons"></app-elem-button-grid>

