<div class="p-4">
  <h1 class="text-xl font-bold my-6">Frecuencia y Distribución de Pueblos Originarios</h1>

  <!-- Selector de Año -->
  <div class="mb-4">
    <label for="year-select" class="block mb-2 font-medium">Selecciona un Año:</label>
    <select id="year-select" class="border rounded-md px-3 py-2" (change)="onYearChange($event)">
      <option *ngFor="let year of years" [value]="year" [selected]="year === selectedYear">
        {{ year }}
      </option>
    </select>
    <label for="region-select" class="block mb-2 font-medium">Selecciona una Región:</label>
    <select id="region-select" class="border rounded-md px-3 py-2" (change)="onRegionChange($event)">
      <option *ngFor="let region of regions" [value]="region.code" [selected]="region.code === selectedRegion">
        {{ region.name }}
      </option>
    </select>
    <!-- <label for="jardin-select" class="block mb-2 font-medium">Selecciona un Jardin:</label>
    <select id="jardin-select" class="border rounded-md px-3 py-2" (change)="onJardinChange($event)">
      <option *ngFor="let jardin of jardines" [value]="jardin.code" [selected]="jardin.code === selectedJardin">
        {{ jardin.name }}
      </option>
    </select> -->
  </div>

  <!-- Gráficos -->
  <div id="chart1" class="border border-slate-500 bg-white rounded-md h-100"></div>
  <div id="chart2" class="border border-slate-500 bg-white rounded-md h-100 mt-6"></div>
</div>
