<div class="w-full max-w-screen-2xl mx-auto p-6 bg-purple-50 rounded-lg shadow-lg">
    <!-- Título principal -->
    <div class="text-center border-b-2 border-dotted pb-4 mb-4">
        <h1 class="text-3xl font-bold text-teal-600">Dashboard - Equidad e Inclusión: Pueblos Originarios</h1>
        <p class="text-sm text-gray-600 mt-1">*Correspondiente a medición 2023</p>
    </div>

    <!-- Contenedor para los Paneles Principales -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
        <!-- Panel Porcentaje Pueblos Originarios -->
        <div class="bg-blue-200 p-6 rounded-lg shadow-md text-center">
            <h2 class="text-xl font-semibold mb-2">% Pueblos Originarios</h2>
            <div class="text-5xl font-bold">{{estadisticasTotales.porcentaje  | number:'1.1-1'}}%</div>
            <p class="mt-2">% Niños y niñas Pueblos Originarios</p>
            <p class="text-sm mt-1 text-gray-600">Total: {{estadisticasTotales.ninosOriginarios}} de {{estadisticasTotales.totalNinos}} niños</p>
        </div>

        <!-- Panel Central con Imagen -->
        <div class="flex items-center justify-center bg-white p-6 rounded-lg shadow-md">
            <img src="assets/images/Integra-Palmundo-07.png" alt="Indigenous Illustration" class="h-32">
        </div>

        <!-- Panel Total Niños -->
        <div class="bg-blue-200 p-6 rounded-lg shadow-md text-center">
            <h2 class="text-xl font-semibold mb-2">Total Niños</h2>
            <div class="text-5xl font-bold">{{estadisticasTotales.ninosOriginarios}}</div>
            <p class="mt-2">Nº Niñas y niños Pueblos Originarios</p>
        </div>
    </div>

    <!-- Sección de Gráficos -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Gráfico Pueblos Nacional -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h3 class="text-lg font-semibold text-center">Pueblos Nacional</h3>
            <h4 class="text-teal-600 text-center mb-4">% niñas y niños Pueblos Originarios - Nacional</h4>
            <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="nationalChartOptions"
                style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>

        <!-- Gráfico Frecuencia Geográfica -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="geographicChartOptions"
                style="width: 100%; height: 500px; display: block;">
            </highcharts-chart>
        </div>
    </div>
</div>
