<div class="flex flex-col items-start p-6 dev1 bg-cyan-100">
  <h1 class="text-2xl font-bold text-slate-900">Dashboard DPGR</h1>
  <p class="text-slate-900 text-sm">Datos Estratégicos / Dirección Central</p>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 p-4 bg-cyan-100">
  <div class="p-6 rounded-lg shadow-md text-center bg-white">
    <h2 class="text-2xl font-bold">1.200</h2>
    <p class="font-semibold mt-2">Jardines</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center bg-white">
    <h2 class="text-2xl font-bold">80.000</h2>
    <p class="font-semibold mt-2">Matrícula Nacional</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center bg-white">
    <h2 class="text-2xl font-bold">10.000</h2>
    <p class="font-semibold mt-2"># de niñas y niños pertenecientes a pueblos originarios</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center bg-white">
    <h2 class="text-2xl font-bold">5.297</h2>
    <p class="font-semibold mt-2"># de niñas y niños con nacionalidad extranjera</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center bg-white">
    <h2 class="text-2xl font-bold">500</h2>
    <p class="font-semibold mt-2">Establecimientos con Reconocimiento Oficial</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center bg-white">
    <h2 class="text-2xl font-bold">400</h2>
    <p class="font-semibold mt-2">Establecimientos con Sellos Verdes</p>
  </div>
</div>


<router-outlet></router-outlet>

<app-elem-button-grid
  [button_data]="buttons"
  [activeIndex]="activeButtonIndex"
  (selectButton)="selectButton($event)"
></app-elem-button-grid>
<!-- <app-elem-header
  [htitle]="'Dirección DPGR'"
  [hsubtitle]="'SUB Titulo header'">
</app-elem-header>


<app-elem-note1
  [note]="'Las siguientes tarjetas se irán habilitando
  progresivamente a medida que se implemente
  el gobierno de datos de la dirección.
  Por ahora, solo están disponibles las tarjetas de NEE y ATET.'">
</app-elem-note1>


<app-elem-bar1 
  [title]="'Dashboard de Datos'" 
  [subtitle]="'Gestión de Datos Estratégicos / Casa Central'">
</app-elem-bar1>


<app-elem-button-grid [buttons]="buttons"></app-elem-button-grid>
 -->
