<div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 dev1">
  <div *ngFor="let button of button_data; let i = index">
    <app-elem-button
      [eb_icon]="button.eb_icon"
      [eb_title]="button.eb_title"
      [eb_subtitle]="button.eb_subtitle"
      [eb_disable]="!button.eb_disable"
      [eb_bg_color]="button.eb_bg_color"
      [eb_text_color]="button.eb_text_color"
      [eb_link]="button.eb_link"
      [style.filter]="activeIndex === i ? 'brightness(0.7)' : 'none'"
      (click)="onButtonClick(i)"
    ></app-elem-button>
  </div>
</div>
