<div class="flex flex-col items-start p-6 dev1 bg-teal-300">
  <h1 class="text-2xl font-bold text-slate-900">Dashboard - Infraestructura y Servicios</h1>
  <p class="text-slate-900 text-sm">* Medición 2023.</p>
</div>



<!-- Grid de tarjetas -->
<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-4 p-4">
  
  <!-- ALIMENTACIÓN Y SALUD -->
  <div class="flex flex-col bg-white p-4 rounded-lg shadow-md w-100 h-100">
    <h2 class="font-semibold text-slate-800 mb-3">ALIMENTACIÓN Y SALUD</h2>
    <div class="flex flex-col w-auto h-100">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="diagnosticoNutricionalOptions"
      ></highcharts-chart>
    </div>
  </div>

  <!-- EQUIDAD E INCLUSIÓN -->
  <div class="flex flex-col bg-white p-4 rounded-lg shadow-md w-100 h-100">
    <h2 class="font-semibold text-slate-800 mb-3">EQUIDAD E INCLUSIÓN</h2>
    <div class="flex flex-col w-auto h-100">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="necesidadesEducativasOptions"
      ></highcharts-chart>
    </div>
  </div>

  <!-- UBICACIÓN SALAS CUNAS Y JARDINES INFANTILES -->
  <div class="flex flex-col bg-white p-4 rounded-lg shadow-md w-100 h-100">
    <h2 class="font-semibold text-slate-800 mb-3">UBICACIÓN SALAS CUNAS Y JARDINES INFANTILES</h2>
    <div class="flex flex-col w-auto h-100">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="ubicacionOptions"
      ></highcharts-chart>
    </div>
  </div>

  <!-- VÍNCULO CON LA FAMILIA -->
  <div class="flex flex-col bg-white p-4 rounded-lg shadow-md w-100 h-100">
    <h2 class="font-semibold text-slate-800 mb-3">VÍNCULO CON LA FAMILIA</h2>
    <p class="text-base md:text-lg text-gray-600 mb-4">Satisfacción InfoClara</p>
    <div class="flex flex-col w-auto h-100">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="satisfactionGaugeOptions"
      ></highcharts-chart>
    </div>
  </div>

  <!-- INFRAESTRUCTURA -->
  <div class="flex flex-col bg-white p-4 rounded-lg shadow-md w-100 h-100">
    <h2 class="font-semibold text-slate-800 mb-3">INFRAESTRUCTURA</h2>
    <div class="flex flex-col w-auto h-100">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="infraestructuraOptions"
      ></highcharts-chart>
    </div>
  </div>

  <!-- SEGURIDAD -->
  <div class="flex flex-col bg-white p-4 rounded-lg shadow-md w-100 h-100">
    <h2 class="font-semibold text-slate-800 mb-3">SEGURIDAD</h2>
    <div class="flex flex-col w-auto h-100">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="seguridadOptions"
      ></highcharts-chart>
    </div>
  </div>

  <!-- EDUCACIÓN -->
  <div class="flex flex-col bg-white p-4 rounded-lg shadow-md w-100 h-100">
    <h2 class="font-semibold text-slate-800 mb-3">EDUCACIÓN</h2>
    <div class="flex flex-col w-auto h-100">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="educacionOptions"
      ></highcharts-chart>
    </div>
  </div>

</div>

