<div class="p-4">
  <h1 class="text-xl font-bold my-6">DPGR: Sello Verde</h1>

  <!-- Selector de Año -->
  <div class="mb-4">
    <label for="year-select" class="block mb-2 font-medium">Selecciona un Año:</label>
    <select
      id="year-select"
      class="border rounded-md px-3 py-2"
      (change)="onYearChange($event)"
    >
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023" selected>2023</option>
    </select>
  </div>

  <!-- Contenedor del Gráfico -->
  <div class="grid grid-cols-1 gap-4 h-auto">
    <div id="chart1" class="border border-slate-500 bg-white rounded-md h-100"></div>
  </div>
</div>
