<div class="p-4">
  
  <h1 class="text-xl font-bold my-6">Educación: NEE</h1>

  <div class="grid grid-cols-1 gap-4 h-auto mb-4">
    <div id="chart1" class="border border-gray-500 rounded-md h-[450px]">panel 1</div>
  </div>
  <div class="grid grid-cols-2 gap-4 h-auto">
    <div id="chart2" class="border border-gray-500 rounded-md h-auto">panel 2</div>
    <div id="chart3" class="border border-gray-500 rounded-md h-auto">panel 3</div>
    <!-- <div id="chart4" class="border border-gray-500 rounded-md h-[300px]">panel 4</div> -->
  </div>

</div>