
  <!-- <app-elem-card-grid1

  [ec_bg_card_grid_color]="cardGridBgColor"
  [ec_bg_card_color]="cardBgColor"
  [ec_text_card_color1]="cardTextColor1"
  [ec_text_card_color2]="cardTextColor2"

  [ec_value1]="cardValue1"
  [ec_label1]="cardLabel1"

  [ec_value2]="cardValue2"
  [ec_label2]="cardLabel2"

  [ec_value3]="cardValue3"
  [ec_label3]="cardLabel3"

  [ec_value4]="cardValue4"
  [ec_label4]="cardLabel4"

  [ec_value5]="cardValue5"
  [ec_label5]="cardLabel5"

  [ec_value6]="cardValue6"
  [ec_label6]="cardLabel6"
  
></app-elem-card-grid1> -->

<div class="p-4">
<h1 class="text-xl font-bold my-6">Panel Educación NEE</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 h-auto">
  <div class="h-full">
    <!-- <app-elem-draw-01></app-elem-draw-01> -->
  </div>
  <div class="h-full">
    <app-elem-draw-02></app-elem-draw-02>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6 h-auto">
  <div class="h-full">
    <app-elem-draw-03></app-elem-draw-03>
  </div>
  <div class="h-full">
    <app-elem-draw-04></app-elem-draw-04>
  </div>
  <div class="h-full">
    <app-elem-draw-05
      [ed5_value1]=chart5Value1
      [ed5_value2]=chart5Value2
      [ed5_value3]=chart5Value3
    ></app-elem-draw-05>
  </div>
</div>

</div>