

  
    
    
<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-4 p-4 dev1" [style.background-color]="ec_bg_card_grid_color">
  <div class="p-6 rounded-lg shadow-md text-center" [style.background-color]="ec_bg_card_color">
    <h2 class="text-2xl font-bold" [style.color]="ec_text_card_color1">{{ ec_value1 }}</h2>
    <p class="font-semibold mt-2" [style.color]="ec_text_card_color2">{{ ec_label1 }}</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center opacity-20" [style.background-color]="ec_bg_card_color">
    <h2 class="text-2xl font-bold" [style.color]="ec_text_card_color1">{{ ec_value2 }}</h2>
    <p class="font-semibold mt-2" [style.color]="ec_text_card_color2">{{ ec_label2 }}</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center opacity-20" [style.background-color]="ec_bg_card_color">
    <h2 class="text-2xl font-bold" [style.color]="ec_text_card_color1">{{ ec_value3 }}</h2>
    <p class="font-semibold mt-2" [style.color]="ec_text_card_color2">{{ ec_label3 }}</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center opacity-20" [style.background-color]="ec_bg_card_color">
    <h2 class="text-2xl font-bold" [style.color]="ec_text_card_color1">{{ ec_value4 }}</h2>
    <p class="font-semibold mt-2" [style.color]="ec_text_card_color2">{{ ec_label4 }}</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center opacity-20" [style.background-color]="ec_bg_card_color">
    <h2 class="text-2xl font-bold" [style.color]="ec_text_card_color1">{{ ec_value5 }}</h2>
    <p class="font-semibold mt-2" [style.color]="ec_text_card_color2">{{ ec_label5 }}</p>
  </div>
  <div class="p-6 rounded-lg shadow-md text-center opacity-20" [style.background-color]="ec_bg_card_color">
    <h2 class="text-2xl font-bold" [style.color]="ec_text_card_color1">{{ ec_value6 }}</h2>
    <p class="font-semibold mt-2" [style.color]="ec_text_card_color2">{{ ec_label6 }}</p>
  </div>
</div>