<!-- <app-elem-header
  [eh_title]="title"
  [eh_subtitle]="subtitle"
  [eh_bg_color]="headerBgColor"
  [eh_text_color]="headerTextColor"
></app-elem-header> -->


<!-- <app-elem-header
  [htitle]="'Dirección Ejecutiva'"
  [hsubtitle]="'SUB Titulo header'">
</app-elem-header>


<app-elem-note1
  [note]="'Las siguientes tarjetas se irán habilitando
  progresivamente a medida que se implemente
  el gobierno de datos de la dirección.
  Por ahora, solo están disponibles las tarjetas de NEE y ATET.'">
</app-elem-note1>


<app-elem-bar1 
  [title]="'Dashboard de Datos'" 
  [subtitle]="'Gestión de Datos Estratégicos / Casa Central'">
</app-elem-bar1>


<app-elem-button-grid [buttons]="buttons"></app-elem-button-grid>
 -->
