<div class="w-full max-w-screen-2xl mx-auto p-6 bg-gradient-to-br from-purple-50 to-indigo-100 rounded-xl shadow-2xl">
    <!-- Contenido Principal del Dashboard -->
    <div class="w-full">
      <!-- Título Principal -->
      <div class="mb-5 text-center">
        <h1 class="text-3xl font-bold text-teal-800">Dashboard - Infraestructura: Sello Verde</h1>
        <p class="text-sm text-gray-600">*Correspondiente a medición 2022-2023</p>
      </div>
  
      <!-- Tarjetas de Métricas -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-5">
        <div class="bg-indigo-200 p-6 rounded-xl shadow-md text-center">
          <h2 class="text-3xl font-semibold">26,6 %</h2>
          <p class="text-sm mt-2">Sello Verde 2022</p>
        </div>
        <div class="bg-indigo-200 p-6 rounded-xl shadow-md text-center">
          <h2 class="text-3xl font-semibold">72,5 %</h2>
          <p class="text-sm mt-2">Sello Verde 2023</p>
        </div>
        <div class="bg-indigo-200 p-6 rounded-xl shadow-md text-center">
          <h2 class="text-3xl font-semibold">46,0 %</h2>
          <p class="text-sm mt-2">Tasa Variación 2022-2023</p>
        </div>
      </div>
  
      <!-- Gráficos -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Gráfico de Barras 3D para Sellos Verdes por Año -->
        <div class="bg-white p-6 rounded-xl shadow-lg">
          <h3 class="text-center font-semibold text-teal-800 mb-4">Sellos Verdes obtenidos por año</h3>
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="barChart3DOptions"
            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>
  
        <!-- Gráfico de Columnas 3D para Vigencia Sellos Verdes -->
        <div class="bg-white p-6 rounded-xl shadow-lg">
          <h3 class="text-center font-semibold text-teal-800 mb-4">Tasa vigencia de Sellos Verdes comparada 2022 y 2023</h3>
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="columnChart3DOptions"
            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>
      </div>
    </div>
  </div>
  